body {
    font-family: "Open Sans", sans-serif;
    color: tomato;
}

.list {
    list-style: none;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header-tel {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
}